<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10" IgnorableNamespaces="uap mp mobile">
  <Identity Name="37246689-57c8-44cd-a824-04beb38e2948" Publisher="CN=kumar" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="2c6b7a66-2f4b-4302-aba1-d6a33c2d62dc" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>StrawhatNet.UWP.Continuum</DisplayName>
    <PublisherDisplayName>nobukuma</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="StrawhatNet.UWP.Continuum.App">
      <!--
      RestrictToInternalScreen 
      true : 外部ディスプレイ側に表示しない Continuum 非対応, 
      false: 外部ディスプレイ側にも表示する Continuum 対応
      -->
      <Extensions>
        <mobile:Extension Category="windows.mobileMultiScreenProperties">
          <mobile:MobileMultiScreenProperties RestrictToInternalScreen="false" />
        </mobile:Extension>
      </Extensions>
      <uap:VisualElements DisplayName="StrawhatNet.UWP.Continuum" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="StrawhatNet.UWP.Continuum" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>